asttokens 
backcall 
certifi==2022.12.7
cloudpickle  
colorama  
cycler  
cytoolz  
dask  
debugpy  
decorator  
entrypoints  
executing  
fonttools==4.25.0
fsspec  
imagecodecs  
imageio  
ipykernel  
ipython  
jedi  
jupyter_client  
jupyter_core  
kiwisolver  
locket  
matplotlib  
matplotlib-inline  

mpmath==1.2.1
munkres==1.1.4
nest-asyncio  
networkx  
numpy==1.22.3
packaging  
parso  
partd  
pickleshare  
Pillow==9.2.0
ply==3.11
prompt-toolkit  
psutil  
pure-eval  
PyExifTool==0.4.13
Pygments  
pyparsing  
PyQt5==5.15.7
PyQt5-sip  
python-dateutil  
pytz==2022.6
PyWavelets  
pywin32==302
PyYAML==6.0
pyzmq  
scikit-image  
scipy==1.9.3
sip  
six  
stack-data  
sympy  
tifffile  
toml  
toolz  
tornado  
traitlets  
wcwidth  
wincertstore==0.2
